<header ng-include="'templates/nav.html'"></header>
<link href="costum_css/homePage.css" rel="stylesheet" media="screen">
<h1>{{title}}</h1>

<div class="row">

  <!-- column with drone table -->
  <div class="col-md-3">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#id</th>
          <th>Status</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="drone in allDrones" ng-click="updateView(drone.next_event, drone.id)">
          <td>{{drone.id}}</td>
          <td ng-if="drone.is_online == true">
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemax="100" style="width: 100%">
                Online
              </div>
            </div>
          </td>
          <td ng-if="drone.is_online != true">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemax="100" style="width: 100%">
                Offline
              </div>
            </div>
          </td>
          <td>{{drone.model}}</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- Closing of column -->

  <!-- column with waypoint table -->
  <div class="col-md-2">

    <!-- This table is only showen if there is any waypoints for the drone -->
    <div ng-show="waypointList.length >= 1">
      <!-- Event panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" class="form-control" placeholder="Event name" ng-model="eventInformation.name">
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="2" placeholder="Comment" ng-model="eventInformation.comment">{{eventInformation.comment}}</textarea>
        </div>
      </div>

      <!-- Waypoint panel -->
      <h4>Waypoints</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Height</th>
            <th class="glyphicon glyphicon-camera"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="waypoint in waypointList">
            <td>
              {{$index + 1}}
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{waypoint.height}}" ngmodel="height">
                <span class="input-group-addon">m</span>
              </div>
            </td>
            <td ng-if="waypoint.take_photo == true">
              <input type="checkbox" checked>
            </td>
            <td ng-if="waypoint.take_photo != true">
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Save event btn -->
      <button type="button" class="btn btn-default" ng-click="sendWaypoints(waypointList)">
        <div ng-if="waypointList.length >= 1">
          Save event
        </div>
      </button>
    </div>

    <!-- This table is only showen if there isn't any waypoints for the drone -->
    <div ng-show="waypointList.length == 0 && noDroneSelected == false">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>No events for drone!</h4></div>
        <div class="panel-body">
          The drone does not have a event.<br><br>
          Click on the map to start a new event.
        </div>
      </div>
    </div>

    <!-- No drone selected message -->
    <div ng-show="noDroneSelected == true">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>No drone selected!</h4></div>
        <div class="panel-body">
          Click on a drone from the table to see more.<br><br>
        </div>
      </div>
    </div>

  </div> <!-- Closing of column -->

  <!-- column with map -->
  <div class="col-md-7">

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="{scrollwheel: false}" events="events">
      <!-- Drone marker -->
      <ui-gmap-marker coords="droneMarkerView.coords" idkey="droneMarkerView.id" icon="droneMarkerView.icon">
        <ui-gmap-window options="windowOptions">
          This is the drone!!
        </ui-gmap-window>
      </ui-gmap-marker>

      <!-- Waypoints marker -->
      <ui-gmap-markers models="waypointListView" coords="'self'" icon="'icon'">
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </div> <!-- Closing of column -->

</div> <!-- Closing of row -->
