<link href="costum_css/loginPage.css" rel="stylesheet" media="screen">
  <title>Login</title>
  <body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Drone<span>Control</span></div>
    </div>
    <br>
    <div class="login">
      <form ng-submit="onLogIn()" name="login">
        <input type="text" placeholder="Username" name="user" ng-model="username" required><br>
        <input type="password" placeholder="Password" name="password" ng-model="password" required><br>
        <input type="submit" value="Login" ng-model="submit">
      </form>
    </div>

  </body>
