<link href="costum_css/loginPage.css" rel="stylesheet" media="screen">

  <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          {{title}}
          <form ng-submit="onLogIn()">
            <fieldset>
              <div class="clearfix">
                <input type="text" placeholder="Username" ng-model="username" required>
              </div>
              <div class="clearfix">
                <input type="password" placeholder="Password" ng-model="password" required>
              </div>
              <button class="btn primary" type="submit">Sign in</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
